html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border: 5px solid #000;
    text-decoration: none;
    font-size: 32px;
    transition: 0.5s;
    box-sizing: border-box;
}

a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #000; */
}

a span:nth-child(1):before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}
a:hover {
    color: #fff;
}
a:hover span:nth-child(1):before {
    transform: scale(1);
}